<div ng-controller="UserCtrl">
    <div class="page-container horizontal-menu">
        <div ng-include="'views/header.html'"></div>
    <div class="container">
    <div class="row mysetting">
    <div class="sidebar-menu fixed">
    <header>用户中心</header>
    <ul id="main-menu">
    <li><a href="#/users/{{userId}}/mysetting"><i class="entypo-cog"></i> 信息设置</a></li>
    <li class="mysettingmenu-active"><a href="#/users/{{userId}}/resetpassword"><i class="entypo-list"></i> 修改密码</a></li>
    </ul>
    </div>
        <div class="mysetting-content">
            <header>修改密码</header>
            <span ng-show="newPassSuccessMsg" class="text-danger">密码修改成功！</span>
            <div class="form-group clearfix" ng-class="{'has-error': oldPassMsg}">
                <label for="field-2" class="col-sm-3 control-label text-right">请输入当前密码</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" ng-model="oldPassword" ng-click="resetWarnMsg()" id="field-3" placeholder="当前密码">
                    <span ng-show="oldPassMsg" class="text-danger">输入的密码不正确，请检查后重新输入！</span>
                </div>
            </div>
            <div class="form-group clearfix">
                <label for="field-2" class="col-sm-3 control-label text-right">请输入新密码</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" ng-model="newPassword" ng-click="resetWarnMsg()" id="field-3" placeholder="请输入新密码">
                </div>

            </div>
            <div class="form-group clearfix" ng-class="{'has-error': newPassMsg}">
                <label for="field-2" class="col-sm-3 control-label text-right">请确认新密码</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" ng-model="confirmNewPassword" ng-click="resetWarnMsg()" id="field-3" placeholder="请再输一遍新密码">
                    <span ng-show="newPassMsg" class="text-danger">2次输入的密码不一致，请检查后重新输入！</span>
                </div>
            </div>
            <div class="form-group clearfix modal-footer text-center">
                <!--<button type="button" class="btn btn-white btn-lg">取 消</button>-->
                <button type="button" class="btn btn-success btn-lg" ng-click="changePassword()">确认修改</button></div>
        </div>
    </div>
    </div>
    </div>
    <div ng-include="'views/footer.html'"></div>
</div>