<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
        body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
    </style>
    <title>异步加载地图</title>
</head>
<body>
<div id="allmap"></div>
<iframe height=498 width=510 src='http://player.youku.com/embed/XNDk3MjMzMDY0' frameborder=0 allowfullscreen></iframe>
<embed src="http://player.youku.com/player.php/Type/Folder/Fid/23206384/Ob/1/sid/XODUwMjQ1Mjky/v.swf" quality="high" width="480" height="400" align="middle" allowScriptAccess="always" allowFullScreen="true" mode="transparent" type="application/x-shockwave-flash"></embed>
</body>
</html>
